<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ProgramCreek/src/Strings/Solutions_165_compare_two_version.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Strings.Solutions_165_compare_two_version"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ProgramCreek"/>
</launchConfiguration>
